.custom-li{
    font-size: 16px;
}

.anchorBL{
    display: none;
}

.parallax{
    filter: brightness(50%) blur(4px);
}

#index-banner2{
    background-color: teal;
}

#index-banner2 h1{
    color: white;
}

.card p{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cardholder{
    min-height: 600px;
}

.margin14{
    margin:14px; 
}

.del-hover{
    color: #fafafa !important;
}

.del-hover:hover{
    color: red !important;
}

.marginl5{
    margin-left:5px; 
}

#detail_window p{
    font-size: 16px;
}

#detail_window .flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-content li a{
    font-size: 12px !important;
}

.card-image {
    height: 130px;
    overflow: hidden;
}

.card-image img{
    overflow: hidden;
    widows: auto;
}

.card-content {
    height: 148px   ;
}

.main-color{
    color:#e1bee7 !important;
}



.main-color-light{
    color:#fff1ff !important;
}

.main-color-dark{
    color:#af8eb5 !important;
}

.main-color-bacground{
    background-color: #e1bee7;
    transition: backgorund-color 1s;
    
}

.main-color-bacground :hover{
    color:#af8eb5 !important;
    
}

.main-color-bacground-dark{
    background-color: #af8eb5 !important;
    transition: backgorund-color 1s;
    
}