.custom-li{
    font-size: 16px;
}

.anchorBL{
    display: none;
}

.parallax{
    filter: brightness(50%) blur(4px);
}

#index-banner{
    background-color: teal;
}

#index-banner h1{
    color: white;
}

.card p{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}