.custom-li{
    font-size: 16px;
}

.anchorBL{
    display: none;
}

.parallax{
    filter: brightness(50%) blur(4px);
}

#index-banner2{
    background-color: teal;
}

#index-banner2 h1{
    color: white;
}

.card p{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cardholder{
    min-height: 600px;
}

.margin14{
    margin:14px; 
}